<div class="container-fluid fp-section" style="display: flex;flex-direction:column;margin-bottom: auto;justify-content: center;padding: 4em;">
    <a routerLink="/dashboard" class="btn text-white text-left mr-auto">&lt;- Back To Dashboard</a>
    <div style="background-color: blanchedalmond;color: black; padding: 2em;border-radius: 1em;box-shadow: 5px 5px white 50%;">
        <div class="row">
            <div class="col-6" >
                <div>
                    <ul>
                        <li *ngFor="let goal of Goals">
                            <p>{{ goal.title }}</p>
                        </li>
                    </ul> 
                </div> 
                <div>

                </div>  
            </div>
            <div class="col-6">
                <img class="w-100" src="/assets/img.svg"/>
            </div>
        </div>
    </div>
</div>